.container{
    width: 80%;
    height: 100%;
    
}
fieldset{
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: rgb(63, 71, 73);
    border-color: black;
    border-top: 0;
    font-size: 150%;
    width:fit-content;  
    padding: 5px 3px; 
    

}
html{
    background-color: #04080fff;
    color: #faf9f9ff;

}
a:visited{
    color: #bee3dbff;
}

/*
--rich-black: #04080fff;
--paynes-gray: #617073ff;
--mint-green: #bee3dbff;
--seasalt: #faf9f9ff;
--apricot: #ffd6baff;
*/